<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gradient</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <main>
        <div class="container">
            <div class="hello">
                <h1>Hello Hillel!</h1>
            </div>
    
            <div class="middle">
                <div class="middle-text">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus sint dicta non itaque voluptatem repellat exercitationem, voluptas numquam eligendi sed omnis quidem voluptates tempora officia fugiat voluptatum consequuntur corrupti aperiam.
                </div>
            </div>

            <div class="complete">
                <div class="complete-text">
                    complete!
                </div>
            </div>
        </div>
    </main>
</body>
</html>