<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="container">

        <div class="content">
            <div class="text">
                <div class="line-text">This page is</div>
                <div class="line-text">your</div>
                <div class="line-text">hometask</div>
            </div>
    
            <div class="line-1">
                <div class="hexagon">
                    <div class="hexagon color-1">
                        <div class="hexagon color-2">
                            <div class="hexagon color-3">
                                <div class="hexagon color-2">
                                    <div class="hexagon color-1">
                                        <div class="hexagon">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    
            <div class="line-2">
                <div class="hexagon">
                    <div class="hexagon color-1">
                        <div class="hexagon color-2">
                            <div class="hexagon color-3">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    
            <div class="line-3">
                <div class="hexagon">
                    <div class="hexagon color-1">
                    </div>
                </div>
            </div>
    
            <div class="line-4">
                <div class="hexagon color-3">
                    <div class="hexagon color-2">
                        <div class="hexagon color-1">
                            <div class="hexagon">
                                <div class="hexagon color-4">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    
            <div class="line-5">
                <div class="hexagon">
                    <div class="hexagon color-4">
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>