@font-face{
    font-family: 'PlayfairDisplay';
    src: url('PlayfairDisplay-Regular.ttf');
    font-weight: 400;
}

@font-face{
    font-family: 'PlayfairDisplay';
    src: url('PlayfairDisplay-Italic.ttf');
    font-weight: 400;
    font-style: italic;
}

@font-face{
    font-family: 'Poppins';
    src: url('Poppins-Medium.ttf');
    font-weight: 500;
}
