<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LayoutBEM</title>
    <link rel="shortcut icon" href="image/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>

    <header>
        <div class="container">
            <div class="head">
                <div class="head__logo logo">
                    <span class="logo__img">
                        <i class="fas fa-graduation-cap"></i>
                    </span>
 
                    <div class="logo__text text-logo">
                        <div class="text-logo__title">Business</div>
                        <div class="text-logo__subtitle">Tagline goes here</div>
                    </div>
                </div>

                <div class="head__nav nav">
                    <nav class="nav__menu menu">
                        <a href="#" class="menu__item">Home</a>
                        <a href="#" class="menu__item">About Us</a>
                        <a href="#" class="menu__item">Our Approch</a>
                        <a href="#" class="menu__item">Our Work</a>
                    </nav>
                    <a href="#" class="nav__btn btn">Free Consultation</a>

                    <div class="nav__burger"></div>
                </div>
            </div>
        </div>
    </header>
    
    <section class="main">
        <div class="container">
            <div class="main__provide provide">
                <h1 class="provide__title">We Providing</h1>
                <div class="provide__subtitle">Social Media marketing for businesses</div>
                <a href="#" class="provide__btn btn btn_big">Free Consultation</a>
            </div>
        </div>
    </section> 


    <section class="aboutus-content">
        <div class="container">
            <div class="aboutus">
                <div class="aboutus__title headline">
                    <h2 class="headline__title">About Us</h2>
                    <div class="headline__subtitle">We are added our major Services</div>
                    <div class="headline__divide"></div>
                </div>

                <div class="aboutus__service service-items">
                    <div class="service-items__item service">
                        <div class="service__img">
                            <img src="image/icons/aboutus/facebook.png" alt="facebook">
                        </div>
                        <div class="service__title">Facebook Marketing</div>
                        <div class="service__description">
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry.  standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make
                        </div>
                    </div>

                    <div class="service-items__item service">
                        <div class="service__img">
                            <img src="image/icons/aboutus/landing.png" alt="landing">
                        </div>
                        <div class="service__title">landing pages Creation</div>
                        <div class="service__description">
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry.  standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make
                        </div>
                    </div>

                    <div class="service-items__item service">
                        <div class="service__img">
                            <img src="image/icons/aboutus/managment.png" alt="managment">
                        </div>
                        <div class="service__title">Ads management</div>
                        <div class="service__description">
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry.  standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section class="approch-content">
        <div class="container">
            <div class="approch">
                <div class="approch__title headline">
                    <h2 class="headline__title">Our Approch</h2>
                    <div class="headline__subtitle">Check Our approches step by step (how we do it)</div>
                    <div class="headline__divide"></div>
                </div>

                <div class="approch__steps steps">
                    <div class="steps__card card">
                        <div class="card__img">
                            <img src="image/cards/photography.jpg" alt="photography">
                            <div class="card__step"><span>1</span> step</div>
                        </div>
                        <div class="card__description">
                            <div class="card__title">Step1: Heading Here</div>
                            <div class="card__text">
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry.  standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make
                                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sunt aut, culpa voluptatibus adipisci id inventore sed excepturi nemo quis quas? Culpa, est aliquid sapiente voluptatem laborum dolorem dolore eum accusamus.
                            </div>
                        </div>
                    </div>

                    <div class="steps__card card">
                        <div class="card__description card__description_right">
                            <div class="card__title">Step2: Heading Here</div>
                            <div class="card__text">
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry.  standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make
                                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sunt aut, culpa voluptatibus adipisci id inventore sed excepturi nemo quis quas? Culpa, est aliquid sapiente voluptatem laborum dolorem dolore eum accusamus.
                            </div>
                        </div>

                        <div class="card__img">
                            <img src="image/cards/mountain_road.jpg" alt="mountain_road">
                            <div class="card__step card__step_right"><span>2</span> step</div>
                        </div>
                    </div>

                    <div class="steps__card card">
                        <div class="card__img">
                            <img src="image/cards/cafe.jpg" alt="cafe">
                            <div class="card__step"><span>3</span> step</div>
                        </div>
                        <div class="card__description">
                            <div class="card__title">Step3: Heading Here</div>
                            <div class="card__text">
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry.  standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make
                                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sunt aut, culpa voluptatibus adipisci id inventore sed excepturi nemo quis quas? Culpa, est aliquid sapiente voluptatem laborum dolorem dolore eum accusamus.
                            </div>
                        </div>
                    </div>

                    <div class="steps__card card">
                        <div class="card__description card__description_right">
                            <div class="card__title">Step4: Heading Here</div>
                            <div class="card__text">
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry.  standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make
                                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sunt aut, culpa voluptatibus adipisci id inventore sed excepturi nemo quis quas? Culpa, est aliquid sapiente voluptatem laborum dolorem dolore eum accusamus.
                            </div>
                        </div>

                        <div class="card__img">
                            <img src="image/cards/notebook.jpg" alt="notebook">
                            <div class="card__step card__step_right"><span>4</span> step</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section class="work-content">
        <div class="container">
            <div class="work">
                <div class="work__title headline headline_white">
                    <h2 class="headline__title">Our Work</h2>
                    <div class="headline__subtitle">We are added our featured works below</div>
                    <div class="headline__divide headline__divide_white"></div>
                </div>

                <div class="work__projects projects">
                    <div class="projects__item project-names">
                        <div class="project-names__name name">
                            <div class="name__icon">
                                <span>
                                    <i class="far fa-paper-plane"></i>
                                </span>
                            </div>
                            <div class="name__title">Project Name</div>
                            <div class="name__subtitle">Facebook marketing</div>
                        </div>
                        <div class="project-names__img">
                            <img src="image/work/photo.jpg" alt="photo">
                        </div>
                    </div>

                    <div class="projects__item project-names">
                        <div class="project-names__name name">
                            <div class="name__icon">
                                <span>
                                    <i class="far fa-paper-plane"></i>
                                </span>
                            </div>
                            <div class="name__title">Project Name</div>
                            <div class="name__subtitle">Landing page</div>
                        </div>
                        <div class="project-names__img">
                            <img src="image/work/tree.jpg" alt="tree">
                        </div>
                    </div>

                    <div class="projects__item project-names">
                        <div class="project-names__name project-names__name_left name">
                            <div class="name__icon">
                                <span>
                                    <i class="far fa-paper-plane"></i>
                                </span>
                            </div>
                            <div class="name__title">Project Name</div>
                            <div class="name__subtitle">Landing page</div>
                        </div>
                        <div class="project-names__img project-names__img_left">
                            <img src="image/work/lake.jpg" alt="lake">
                        </div>
                    </div>

                    <div class="projects__item project-names">
                        <div class="project-names__name project-names__name_left name">
                            <div class="name__icon">
                                <span>
                                    <i class="far fa-paper-plane"></i>
                                </span>
                            </div>
                            <div class="name__title">Project Name</div>
                            <div class="name__subtitle">Facebook marketing</div>
                        </div>
                        <div class="project-names__img project-names__img_left">
                            <img src="image/work/path.jpg" alt="path">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section class="checkin-content">
        <div class="container">
            <div class="checkin">
                <div class="checkin__title headline headline_white">
                    <h2 class="headline__title">Get Your Free Facebook Analysis Now</h2>
                    <div class="headline__subtitle">Enter your details below</div>
                </div>

                <div class="checkin__arrow"></div>

                <div class="checkin__form form-content">
                    <div class="form-content__description">
                        Sit down with our experts to receive a free customized marketing plan for your business + Learn How To Use Google and Facebook to get 5000% ROI or more
                    </div>
                    <form action="#" method="GET" class="form-content__form form">
                        <input class="form__input" type="text" required placeholder="Your Name">
                        <input class="form__input" type="tel" required placeholder="Contact Number">
                        <input class="form__input" type="text" required placeholder="Company Name">

                        <input type="submit" id="form-submit" style="display: none;">
                        <label for="form-submit" class="form__btn btn btn_medium">Submit now</label>
                    </form>
                    <div class="form-content__cross"></div>
                </div>
            </div>
        </div>
    </section>


    <section class="intouch-content">
        <div class="container">
            <div class="intouch">
                <div class="intouch__title">Get in touch</div>
                <div class="intouch__social links">
                    <div class="links__item icon">
                        <span>
                            <i class="fab fa-facebook-f"></i>
                        </span>
                    </div>
                    <div class="links__item icon">
                        <span>
                            <i class="fab fa-twitter"></i>
                        </span>
                    </div>
                    <div class="links__item icon">
                        <span>
                            <i class="fab fa-google-plus-g"></i>
                        </span>
                    </div>
                    <div class="links__item icon">
                        <span>
                            <i class="fab fa-linkedin-in"></i>
                        </span>
                    </div>
                </div>

                <div class="intouch__description">
                    Subscribe to our newsletter to stay update with what is new
                </div>

                <form action="#" method="GET" class="intouch__form form">
                    <input class="form__input form__input_long" type="email" required placeholder="Email Address">

                    <input type="submit" id="form-submit" style="display: none;">
                    <label for="form-submit" class="form__btn btn btn_dark">Subscribe</label>
                </form>
            </div>
        </div>
    </section>


    <footer class="footer">
        <div class="footer__sign">
            Cssauthor.com &copy 2014 All Rights Reserved
        </div>
    </footer>
</body>
</html>