<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lesson7</title>
    <link rel="stylesheet" href="fonts/fonts.css">
    <link rel="stylesheet" href="css/style.css">

</head>
<body>
    <header>
        <div class="container">
            <nav>
                <a href="#" class="active">home</a>
                <a href="#">portfolio</a>
                <a href="#">about us</a>
                <a href="#">contact</a>
            </nav>

            <div class="present">
                <div class="head">
                    <h1>Our strong organaisation</h1>
                    <div class="description">
                        Lorem ipsum dolor sit amet, consectetur adipis cing elit, sed do eiusmod tempor incididunt  ut labore et. ectetur adig ipis cing elit, sed do eiusmod tempor incididunt.
                    </div>
                    <a href="#" class="button">Contact Us</a>
                </div>
    
                <div class="video">
                    <iframe class="video-content" src="https://www.youtube.com/embed/feXTwNliCjY" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
                <div class="last-line"></div>
            </div>
        </div>
    </header>

    <section class="service">
        <div class="container">
            <div class="service-wrap">
                <div class="provide">
                    <h2 class="title">Do you know we can provide for you ?</h2>
                    <div class="provide-description">
                        Lorem ipsum dolor sit amet, consectetur adipis cing elit, sed do eiusmod tempor incididunt ut labore et.Lorem ni ipsum dolor sit amet, consectetur adipis cing elit, ed doi eiusmod tempor incididunt ut labore et.
                    </div>
                    <div class="button">Learn More</div>
                </div>
    
                <div class="service-items">
                    <div class="item">
                        <img class="item-img" src="img/icons/settings.png" alt="settings">
                        <div class="item-head">Management</div>
                        <div class="item-description">
                            Lorem ipsum dolor sitea amet, zixf conseit  adipi cing elit, seddi do eiusmod btdempor in didunt utlae ore etioe.Lorem ipsum new idolor
                        </div>
                    </div>
    
                    <div class="item">
                        <img class="item-img" src="img/icons/pencil.png" alt="pencil">
                        <div class="item-head">UI /UX Design</div>
                        <div class="item-description">
                            Lorem ipsum dolor sitea amet, zixf conseit  adipi cing elit, seddi do eiusmod btdempor in didunt utlae ore etioe.Lorem ipsum new idolor sit amet,
                        </div>
                    </div>
    
                    <div class="item">
                        <img class="item-img" src="img/icons/diamond.png" alt="diamond">
                        <div class="item-head">Logo / Branding</div>
                        <div class="item-description">
                            Lorem ipsum dolor sitea amet, zixf conseit  adipi cing elit, seddi do eiusmod btdempor in didunt utlae ore etioeew idolor sit amet,
                        </div>
                    </div>
    
                    <div class="item">
                        <img class="item-img" src="img/icons/truck.png" alt="truck">
                        <div class="item-head">Animation</div>
                        <div class="item-description">
                            Lorem ipsum dolor sitea amet, zixf conseit  adipi cing elit, seddi do eiusmod btdempor in didunt utlae ore etioe.Lorem ipsum new idolor sit amet, consect netur.
                        </div>
                    </div>
                    <div class="last-line"></div>
                </div>
                <div class="last-line"></div>

            </div>
            
        </div>
    </section>

    <section class="products">
        <div class="container">
            <h2 class="title center">Feature products</h2>
            <div class="title-descr center">
                Lorem ipsum dolor sit amet, consectetur adipis cing elit,sed do eiusmod tempor incididunt ut labore et.
            </div>
            <div class="divide center"></div>

            <div class="products-menu">
                <a href="#">all</a>
                <a href="#">print template</a>
                <a href="#">web template</a>
                <a href="#">user interface</a>
                <a href="#">mock-up</a>
            </div>

            <div class="products-items">
                <div class="products-item img-hover"></div>
                <div class="products-item img-hover"></div>
                <div class="products-item img-hover"></div>
                <div class="products-item img-hover"></div>
                <div class="products-item img-hover"></div>
                <div class="products-item img-hover"></div>
                <div class="products-item img-hover"></div>
                <div class="products-item img-hover"></div>
                <div class="last-line"></div>
            </div>
        </div>
    </section>

    <section class="team">
        <div class="container">
            <h2 class="title">Meet our team</h2>
            <div class="title-descr team-width">
                Lorem ipsum dolor sit amet, consectetur adipis cing elit, sed dooing eiusmod tempor incididut labore Ui / Ux , print template.
            </div>
            <div class="divide"></div>

            <div class="team-person">
                <div class="person-name">mark waugh</div>
                <div class="person-foto"></div>
                <div class="personality">
                    <div class="personality-title">mark waugh</div>
                    <div class="personality-descr">
                        Lorem ipsum dolor sit amet, consectetur adipis cing elit, sed dooing eiusmod tempor incididut labore Ui / Ux , print template.
                    </div>
                    <div class="personality-link">
                        <a href="#">Facebook</a>
                        <a href="#">Dribble</a>
                        <a href="#">Behance</a>
                        <a href="#">Twiter</a>
                    </div>
                    <div class="personality-items">
                        <div class="personality-item img-hover"></div>
                        <div class="personality-item img-hover"></div>
                        <div class="personality-item img-hover"></div>
                        <div class="personality-item img-hover"></div>
                        <div class="last-line"></div>
                    </div>
                </div>
                <div class="last-line"></div>
            </div>
        </div>
    </section>

    <section class="design">
        <div class="container">
            <div class="design-wrap">
                <h2 class="title title-white center">Design tips, tricks, and freebies. Delivered weekly.</h2>
                <div class="title-descr title-white center design-width">
                    Lorem ipsum dolor sit amet, consectetur adipis cing elit, sed do eiusmod.
                </div>
            </div>

            <form action="#" class="design-form">
                <input type="email"  required placeholder="Email Address...">
                <input type="submit" id="design-submit">
                <label for="design-submit" class="button button-form">Subscribe</label>
            </form>

        </div>
    </section>

    <section class="intouch">
        <div class="container">
            <h2 class="title">get in touch</h2>
            <div class="title-descr intouch-width">
                Lorem ipsum dolor sit amet, consectetur adipis cing elit, sed do eiusmod tempor incididunt ut labore et.ur adipis cing elit, sed do eiusmod tempor incididunt ut labore et. ur adipis cing elit, sed do eiusmod tempor incididunt ut labore et.
            </div>
            <div class="divide"></div>

            <div class="intouch-contact">



                <div class="intouch-input">
                    <form action="#" class="intouch-form">
                        <input type="text" required placeholder="Name" class="form">
                        <input type="email" required placeholder="Your Mail" class="form">
                        <textarea name="message" placeholder="Type your message" class="form"></textarea>

                        <input type="submit" id="intouch-submit">
                        <label for="intouch-submit" class="button button-form button-long">Send message</label>
                    </form>
                </div>

                <div class="contact">
                    <div class="contact-wrap">
                        <div class="contact-info">contact info</div>
                        <div class="contact-link">
                            <div class="link">
                                <a href="#">Jalalabad 24 / A, Ambaarkhana, Sylhet, Bangladesh</a>
                            </div>
                            <div class="link">
                                <a href="#">redwan@deviserweb.com</a>
                            </div>
                            <div class="link">
                                <a href="#">(+88) 017 617 46373</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="last-line"></div>
            </div>
        </div>
    </section>

    <footer>
        <div class="container">
            <div class="footer-wrap">
                <div class="copyright">&copy Copyright @Junaed 2016, All rights reserved.</div>
                <div class="social">
                    <div class="social-item">
                        <img src="img/social/twitter.png" alt="">
                    </div>
                    <div class="social-item">
                        <img src="img/social/instagram.png" alt="">
                    </div>
                    <div class="social-item">
                        <img src="img/social/google.png" alt="">
                    </div>
                    <div class="social-item">
                        <img src="img/social/facebook.png" alt="">
                    </div>
                </div>
                <div class="last-line"></div>
            </div>
        </div>
    </footer>

</body>
</html>