<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Story</title>
    <link rel="stylesheet" href="fonts/fonts.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <header>
        <div class="container">
            <div class="head">
                <h1>Story</h1>
                <div class="marcy-wrap">
                    <div class="marcy">Marcy..</div>
                </div>
            </div>
        </div>
    </header>

    <section class="travel">
        <div class="container">
            <h2 class="title">Travel</h2>

            <div class="travel-wrap">
                <div class="travel-story">
                    <div class="subtitle">
                        Nullam id dolor id nibh ultricies vehicula ut id elit.
                    </div>

                    <div class="travel-describe">
                        <p>Etiam porta sem malesuada magna mollis euismod. Maecenas faucibus mollis interdum. Donec id elit non mi porta gravida at eget metus.
                        </p>
                        <br>
                        <p>Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>
                    </div>

                    <a href="#" class="button button-ml">Full Story <img src="images/arrow.png" alt="arrow"></a>
                </div>
                
                <div class="travel-img"></div>

                <div class="travel-foto" style="background-image: url('images/scotland.jpg');">
                    <img src="images/scotland.jpg" alt="scotland">
                </div>
            </div>

        </div>
    </section>

    <section class="quote">
        <div class="container">
            <div class="quote-wrap">
                <div class="quote-foto" style="background-image: url('images/nature.jpg');">
                    <img src="images/nature.jpg" alt="nature">
                </div>

                <div class="quote-title">
                    <h2 class="title">Quote</h2>
                    <div class="subtitle">Nullam id dolor id nibh ultricies vehicula elit.</div>
                </div>
                <div class="last-line"></div>

                <div class="quote-content">
                    <div class="content-describe">
                        <span>“</span>Donec id elit non mi porta gravida at eget metus. Vestibulum id ligula porta felis euismod semper. Curabitur blandit tempus porttitor<span>“</span>
                    </div>

                    <div class="content-sign">
                        VEN diesel <span>1962-2006</span>
                    </div>

                    <div class="button-position">
                        <a href="#" class="button button-ml">Full Story <img src="images/arrow.png" alt="arrow"></a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="update">
        <div class="container">
            <div class="update-content">
                <div class="update-text">
                    Like what you're reading? Get weekly updates that will help you grow as a designer.
                </div>

                <form action="#" class="update-form">
                    <input type="text" required placeholder="Name" class="form">
                    <input type="email" required placeholder="Email" class="form">
                    <div class="last-line"></div>
                    <input type="submit" id="update-submit">
                    <label for="update-submit">
                        <div class="button-submit">
                            <div class="button">Subsribe <img src="images/arrow.png" alt="arrow"></div>
                        </div>
                    </label>
                </form>
            </div>
        </div>
    </section>
</body>
</html>