*{
    padding: 0;
    margin: 0;
}

.container{
    width: 1000px;
    margin: 0 auto;
    padding: 50px;
    background-color: rgb(4, 112, 155);
}

.preloader{
    width: 160px;
    margin: 0 auto;
    font-size: 0;
}

.circle{
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #fff;
    margin-right: 20px;
    animation-name: circle_pre;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
}

.circle:last-child{
    animation-name: last-child;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
}

.circle:first-child::before{
    position: absolute;
    left: -40px;
    content: '';
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #fff;
    animation-name: before;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
}

@keyframes circle_pre{
    from{

    }
    to{
        transform: translateX(40px);
    }
}

@keyframes last-child{
    from{

    }
    to{
        transform: scale(0);
    }
}

@keyframes before{
    0%{
        transform: scale(0);
        left: 0;
    }
    100%{
        transform: scale(1);
    }
}