<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resume</title>
    <link rel="stylesheet" href="fonts/fonts.css">
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <header>
        <div class="container">
            <div class="head">
                <h1>Пупкин Василий Иванович</h1>
                <nav>
                    <div class="menu">
                        <a href="#">Резюме</a>
                        <a href="#">Портфолио</a>
                        <a href="#">Проекты</a>
                        <a href="#">Контакты</a>
                    </div>
                </nav>
            </div>
        </div>
    </header>

    <section class="aboutme">
        <div class="container">
            <div class="aboutme-title">
                <h2>Обо мне</h2>
            </div>
    
            <div class="aboutme-desription">
                <div class="description-foto">
                    <img src="images/foto_me.jpg" alt="foto_me">
                    <div class="foto-name">Иван Пупкин, <span>Web Design</span></div>
                </div>
    
                <div class="description-text">
                    <div class="title">
                        <div class="title-rectang">Пара слов обо мне</div>
                        <div class="title-triang"></div>
                    </div>
                    <div class="text">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea nobis praesentium aperiam officia. Quam ipsa itaque, numquam laboriosam sapiente sequi odit harum distinctio sit corporis aut natus, eos facilis. Nesciunt laborum eligendi impedit debitis. Dolor earum corrupti aut. Deleniti ab harum autem eligendi at labore? Tenetur unde reiciendis doloremque odio labore.
                    </div>
                    <div class="design">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore reiciendis saepe corrupti sed aut necessitatibus veritatis beatae, debitis quibusdam modi laudantium maxime. Voluptatem aliquid porro, doloribus veritatis reiciendis ad fugit.
                        <!-- <div class="design-sign">Иван Пупкин, <span>Web Design</span></div> -->
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="skills">
        <div class="container">
            <div class="skills-wrap">
                <div class="skills-programs">
                    <div class="title">
                        <div class="title-rectang">Мои навыки</div>
                        <div class="title-triang"></div>
                    </div>
    
                    <div class="programs-list">
                        <div class="program width-per80">Photoshop</div>
                        <div class="program">HTML</div>
                        <div class="program">CSS</div>
                        <div class="program width-per80">JavaScript</div>
                        <div class="program width-per60">Angular</div>
                    </div>
    
                    <div class="scale">
                        <div class="scale-borders">
                            <div class="scale-border"></div>
                            <div class="scale-border"></div>
                            <div class="scale-border"></div>
                            <div class="scale-border"></div>
                            <div class="scale-border"></div>
                        </div>
    
                        <div class="scale-numbers">
                            <div class="scale-number">1</div>
                            <div class="scale-number">2</div>
                            <div class="scale-number">3</div>
                            <div class="scale-number">4</div>
                            <div class="scale-number">5</div>
                        </div>
                    </div>
                </div>
    
                <div class="skills-doing">
                    <div class="title">
                        <div class="title-rectang">Что я делаю</div>
                        <div class="title-triang"></div>
                    </div>

                    <div class="doing-items">
                        <div class="doing-item">
                            <div class="circle"></div>
                            <div class="circle-text">
                                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsum beatae soluta fuga libero voluptates.
                            </div>
                        </div>

                        <div class="doing-item">
                            <div class="circle"></div>
                            <div class="circle-text">
                                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsum beatae soluta fuga libero voluptates.
                            </div>
                        </div>

                        <div class="doing-item">
                            <div class="circle"></div>
                            <div class="circle-text">
                                Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                            </div>
                        </div>

                        <div class="doing-item">
                            <div class="circle"></div>
                            <div class="circle-text">
                                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsum beatae soluta fuga libero voluptates.
                            </div>
                        </div>

                        <div class="doing-item">
                            <div class="circle"></div>
                            <div class="circle-text">
                                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsum beatae soluta fuga libero voluptates.
                            </div>
                        </div>

                        <div class="doing-item">
                            <div class="circle"></div>
                            <div class="circle-text">
                                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsum beatae soluta fuga libero voluptates.
                            </div>
                        </div>
                    </div>

                </div>

            </div>

        </div>
    </section>

    <section class="cat">
        <div class="container">
            <div class="cat-wrap">
                <div class="cat-img">
                    <img src="images/cat.PNG" alt="cat">
                </div>

                <div class="cat-text">
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aperiam aspernatur dolores architecto autem nostrum placeat perferendis velit harum alias repudiandae itaque voluptates eius in, nobis voluptatibus nemo magni? Eius, magnam.
                </div>
                
            </div>
        </div>
    </section>

    <footer>
        <div class="container">
            <div class="contacts-wrap">
                <div class="contacts">
                    <div class="contact">
                        <div class="contact-tel">
                            <div class="contact-head">Контакты</div>
                            <div class="tel-link">
                                <a href="#">e-mail: vasia@i.ua</a>
                                <a href="#">tel. +380990002211</a>
                            </div>
                        </div>
                        <div class="contact-social">
                            <div class="contact-head">Соцсети</div>
                            <div class="social-link">
                                <a href="#">facebook</a>
                                <a href="#">vk</a>
                                <a href="#">linkedin</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="circle-lorem">
                    <div class="lorem-text">Lorem ipsum</div>
                </div>
                <div class="contact-hillel">Hillel, 2021</div>
            </div>
        </div>
    </footer>
</body>
</html>