<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cards</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div class="container">

        <div class="card bottom z-3" style="background-image: url('images/foto_3.jpg');">
            <img src="images/foto_3.jpg" alt="foto_3">
        </div>
        <div class="card left z-2" style="background-image: url('images/foto_1.jpg');">
            <img src="images/foto_2.jpeg" alt="foto_2">
        </div>
        <div class="card right z-2" style="background-image: url('images/foto_1.jpg');">
            <img src="images/foto_2.jpeg" alt="foto_2">
        </div>
        <div class="card left left-top z-1" style="background-image: url('images/foto_2.jpg');">
            <img src="images/foto_1.jpg" alt="foto_1">
        </div>
        <div class="card right right-top z-1" style="background-image: url('images/foto_2.jpg');">
            <img src="images/foto_1.jpg" alt="foto_1">
        </div>


    </div>
</body>
</html>