@font-face{
    font-family: 'SegoeWPN';
    src: url(SegoeWPLight.ttf);
}

@font-face{
    font-family: 'SourceSansPro';
    src: url(SourceSansPro-Regular.ttf);
}

@font-face{
    font-family: 'MrsEaves';
    src: url(MrsEavesItalic_Italic.ttf);
    font-style: italic;
}