<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Leo</title>
    <link rel="stylesheet" href="fonts/fonts.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div class="container-paralax">
        <header>
            <div class="container">
                <div class="head">
                    <div class="logo">Leo/-</div>
                    <nav>
                        <a href="#">Solutions</a>
                        <a href="#">Products</a>
                        <a href="#">Portfolio</a>
                        <a href="#">Contact</a>
                    </nav>
                    <div class="last-line"></div>
                </div>

                <div class="slider">
                    <div class="slider-img">
                        <img src="img/cofree.png" alt="coffee">
                    </div>
                    <div class="slider-describe">
                        <h1 class="slider-title">Introducing</h1>
                        <div class="slider-text">Something hot......</div>
                        <a href="#" class="button">Try Demo</a>
                    </div>
                </div>
            </div>
        </header>

        <section class="websites">
            <div class="container">
                <div class="websites-content">
                    <ul class="menu">
                        <li class="menu-item">
                            <div class="item blue">
                                <div class="item-img" style="background-color: #6598e6;">
                                    <div class="img" style="background-image: url(img/phone.png)"></div>
                                </div>
                                <div class="item-title">Responsive</div>
                                <div class="item-subtitle">Websites</div>
                            </div>

                            <ul class="submenu">
                                <li class="submenu-img blue">
                                    <img src="img/ipad.png" alt="ipad">
                                </li>
                                <li class="submenu-title">
                                    Lorem Ipsum is simply dummy text
                                </li>
                                <li class="submenu-describe">
                                    <p>
                                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. 
                                    </p>
            
                                    <p>
                                        It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                                    </p>
                                </li>
                            </ul>

                        </li>
                        <li class="menu-item">
                            <div class="item yellow">
                                <div class="item-img" style="background-color: #fdcf0a;">
                                    <div class="img" style="background-image: url(img/basket.png)"></div>
                                </div>
                                <div class="item-title">Responsive</div>
                                <div class="item-subtitle">Websites</div>
                            </div>

                            <ul class="submenu">
                                <li class="submenu-img yellow">
                                    <img src="img/ipad.png" alt="ipad">
                                </li>
                                <li class="submenu-title">
                                    Lorem Ipsum is simply dummy text
                                </li>
                                <li class="submenu-describe">
                                    <p>
                                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. 
                                    </p>
            
                                    <p>
                                        It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                                    </p>
                                </li>
                            </ul>

                        </li>
                        <li class="menu-item">
                            <div class="item green">
                                <div class="item-img" style="background-color: #12b367;">
                                    <div class="img" style="background-image: url(img/world.png)"></div>
                                </div>
                                <div class="item-title">Responsive</div>
                                <div class="item-subtitle">Websites</div>
                            </div>

                            <ul class="submenu">
                                <li class="submenu-img green">
                                    <img src="img/ipad.png" alt="ipad">
                                </li>
                                <li class="submenu-title">
                                    Lorem Ipsum is simply dummy text
                                </li>
                                <li class="submenu-describe">
                                    <p>
                                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. 
                                    </p>
            
                                    <p>
                                        It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                                    </p>
                                </li>
                            </ul>
                        </li>
                        <li class="menu-item">
                            <div class="item orange">
                                <div class="item-img" style="background-color: #e67624;">
                                    <div class="img" style="background-image: url(img/find.png)"></div>
                                </div>
                                <div class="item-title">Responsive</div>
                                <div class="item-subtitle">Websites</div>
                            </div>

                            <ul class="submenu">
                                <li class="submenu-img orange">
                                    <img src="img/ipad.png" alt="ipad">
                                </li>
                                <li class="submenu-title">
                                    Lorem Ipsum is simply dummy text
                                </li>
                                <li class="submenu-describe">
                                    <p>
                                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. 
                                    </p>
            
                                    <p>
                                        It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                                    </p>
                                </li>
                            </ul>
                        </li>

                        <li class="last-line"></li>
                        <div class="sub-empty"></div>
                    </ul>
                </div>
            </div>
        </section>

        <section class="choose">
            <div class="container">
                <div class="choose-content">
                    <div class="choose-img">
                        <img src="img/brauser.jpg" alt="brawser">
                    </div>

                    <div class="choose-why">
                        <div class="why-title">Why choose us ?</div>
                        <ul class="why-list">
                            <li>Lorem Ipsum is simply dummy text of the printing and typesetting</li>
                            <li>Lorem Ipsum has been the industry's standard dummy text ever</li>
                            <li>When an unknown printer took a galley of type and scrambled</li>
                            <li>It has survived not only five centuries, but also the leap into electronic </li>
                            <li>It was popularised in the 1960s with the release of Letraset sheets</li>
                            <li>More recently with desktop publishing software like Aldus PageMaker </li>
                        </ul>
                    </div>

                    <div class="last-line"></div>
                </div>
            </div>
        </section>

        <section class="form">
            <div class="container">
                <div class="form-content">
                    <div class="form-member">
                        <div class="form-title">Member login</div>
                        <form action="#" class="form-login">
                            <input type="text" required placeholder="User name" class="field">
                            <input name="pass" type="password" required placeholder="Password" class="field">
                            <input type="submit" id="login-submit">
                            <label for="login-submit" class="button-form">Log me in</label>
                            <div class="last-line"></div>
                        </form>
                    </div>

                    <div class="form-subscribe">
                        <div class="form-title">Subscribe to our weekly newsletter</div>
                        <form action="#" class="form-letter">
                            <input type="email" required placeholder="email address" class="field">
                            <input type="submit" id="letter-submit">
                            <label for="letter-submit" class="button-subscribe">Subscribe</label>
                            <div class="last-line"></div>
                        </form>
                    </div>

                    <div class="last-line"></div>
                </div>
            </div>
        </section>

        <footer>
            <div class="container">
                <div class="foot-content">
                    <ul class="foot-aboutus">
                        <li class="about">About Us</li>
                        <li class="about">About us</li>
                        <li class="about">Why us</li>
                        <li class="about">Customer Stories</li>
                        <li class="about">Press Resources</li>
                        <li class="about">Press Releases</li>
                        <li class="about">Contact us</li>
                    </ul>
                    <ul class="foot-aboutus">
                        <li class="about">About Us</li>
                        <li class="about">About us</li>
                        <li class="about">Why us</li>
                        <li class="about">Customer Stories</li>
                        <li class="about">Press Resources</li>
                        <li class="about">Press Releases</li>
                        <li class="about">Contact us</li>
                    </ul>
                    <ul class="foot-test">
                        <li class="test-title">Testimoanials</li>
                        <li class="test-text">
                            Lorem Ipsum is simply dummy text of the printing and 
                            typesetting industry. Lorem Ipsum has been the industr
                            standard dummy text ever since the 1500s, 
                            when an unknown printer took a
                        </li>
                        <li class="test-sign">Lorem Ipsum is simply</li>
                        <li class="test-sign">Owner, Lorem Ipsum</li>    
                    </ul>
                    <div class="foot-logo">
                        <div class="logo">Leo/-</div>
                        <div class="author">&copy cssauthor.com</div>
                    </div>

                    <div class="last-line"></div>
                </div>
            </div>
        </footer>
    </div>
</body>
</html>